@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h4>Group 1, Made By: </h4>
<p>Deneil Breva</p>
<p>Venise Moises</p>
<p>Russel Kurt Nolasco</p>
<p>
    Emmanuel Villar Reyes
</p>
<p>RA RA</p>
